@page  "/logistics/create/"
@inject HttpClient _client
@inject NavigationManager _navManager

<h3 class="card-title"> Create New Logistic</h3>
<hr />
<br />

<!---
<EditForm Model="@logistic" OnValidSubmit="CreateLogistic">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <div class="form-group">
        <label>Vehicle: </label>
        <div>
            <InputSelect @bind-Value="logistic.VehicleId" class="form-control">
                <option value="">-- Select Vehicle --</option>
                @if (Vehicles != null)
                {
                    foreach (var vehicle in Vehicles)
                    {
                        <option value="@vehicle.Id">
                            @vehicle.Logistic.Name @vehicle.Model.Name - @vehicle.LicensePlateNumber
                        </option>
                    }
                }
            </InputSelect>
            <ValidationMessage For="@(() => logistic.VehicleId)" />
        </div>
    </div>

    <div class="form-group">
        <label>Customer: </label>
        <div>
            <InputSelect @bind-Value="logistic.CustomerId" class="form-control">
                <option value="">-- Select Customer --</option>
                @if (Customers != null)
                {
                    foreach (var customer in Customers)
                    {
                        <option value="@customer.Id">
                            @customer.FirstName - @customer.DrivingLicense
                        </option>
                    }
                }
            </InputSelect>
            <ValidationMessage For="@(() => logistic.CustomerId)" />
        </div>
    </div>

    <div class="form-group">
        <label>Date Out: </label>
        <div>
            <InputDate @bind-Value="@logistic.DateOut" class="form-control" />
                <ValidationMessage For="@(() => logistic.DateOut)" />
        </div>
    </div>

    @if (logistic.Id > 0)
    {
        <div class="form-group">
            <label>Date In: </label>
            <div>
                <InputDate @bind-Value="@logistic.DateIn" class="form-control" />
                <ValidationMessage For="@(() => logistic.DateIn)" />
            </div>
        </div>
    }

    <br />
    <button type="submit" class="btn btn-success btn-block">
        Create Logistic
    </button>
</EditForm>-->

<FormComponent ButtonText="Create Logistic" logistic="logistic" OnValidSubmit="@CreateLogistic" />

@code {
    Logistic logistic = new Logistic();

    //private IList<Vehicle> Vehicles;
    private IList<Customer> Customers;

    protected async override Task OnInitializedAsync()
    {
        //Vehicles = await _client.GetFromJsonAsync<List<Vehicle>>($"{Endpoints.VehiclesEndpoint}");
        Customers = await _client.GetFromJsonAsync<List<Customer>>($"{Endpoints.CustomersEndpoint}");
    }

    private async Task CreateLogistic()
    {
        await _client.PostAsJsonAsync(Endpoints.LogisticsEndpoint, logistic);
        _navManager.NavigateTo("/logistics/");
    }
}