@inject HttpClient _client

<EditForm Model="@ordersummary" OnValidSubmit="OnValidSubmit">
    <DataAnnotationsValidator />
    <ValidationSummary />
    <fieldset disabled="@Disabled">

        <div class=" form-group">
            <label>Shipping Address: </label>
            <div>
                <InputText @bind-Value="@ordersummary.ShippingAddress" class="form-control" />
                <ValidationMessage For="@(() => ordersummary.ShippingAddress)" />
            </div>
        </div>

        @if (ordersummary.OrderSummaryId > 0)
        {
            <div class="form-group">
                <label>Date In: </label>
                <div>
                    <InputDate @bind-Value="@ordersummary.DateTime" class="form-control" />
                    <ValidationMessage For="@(() => ordersummary.DateTime)" />
                </div>
            </div>
        }
    </fieldset>

    @if (!Disabled)
    {
        <button type="submit" class="btn btn-success btn-block">
            @ButtonText
        </button>
    }
    <BackToList Target="ordersummarys" />
</EditForm>

@code {
    [Parameter] public bool Disabled { get; set; } = false;
    [Parameter] public OrderSummary ordersummary { get; set; }
    [Parameter] public string ButtonText { get; set; } = "Save";
    [Parameter] public EventCallback OnValidSubmit { get; set; }
}